In [1]:
import pandas as pd

df2308 = pd.read_csv('data/서울특별시_전동킥보드_견인_현황_20230831.csv', encoding = 'cp949')

In [2]:
df2308.head()

,번호,신고일,구정보,주소,유형,조치일
0,1,2021-07-15,영등포구,서울특별시 영등포구 여의도동 84-10,보도와 차도가 구분된 도로의 차도,2021-07-15
1,2,2021-07-15,영등포구,서울특별시 영등포구 영등포동1가 97-4,보도 중앙,2021-07-15
2,3,2021-07-15,동작구,서울특별시 동작구 노량진동 231-2,보도와 차도가 구분된 도로의 차도,2021-07-15
3,4,2021-07-15,동작구,서울특별시 동작구 노량진동 54-3,"버스정류장, 택시 승강장",2021-07-15
4,5,2021-07-15,동작구,서울특별시 동작구 신대방동 460-30,보도와 차도가 구분된 도로의 차도,2021-07-15

In [3]:
df2308.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123727 entries, 0 to 123726
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   번호      123727 non-null  int64
 1   신고일     123727 non-null  object
 2   구정보     123727 non-null  object
 3   주소      123727 non-null  object
 4   유형      123726 non-null  object
 5   조치일     123726 non-null  object
dtypes: int64(1), object(5)
memory usage: 5.7+ MB

유형 칼럼과 조치일 칼럼에 결측치 하나씩 존재. 확인 필요.

In [4]:
df2308[df2308['유형'].isnull()]

        번호         신고일  구정보                     주소   유형  조치일
2815  2816  2021-08-17  관악구  서울특별시 관악구 신림동 1467-10  NaN  NaN

결측치 제거

In [5]:
df2308.dropna(inplace=True)

사라진 거 확인

In [6]:
df2308.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123726 entries, 0 to 123726
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   번호      123726 non-null  int64
 1   신고일     123726 non-null  object
 2   구정보     123726 non-null  object
 3   주소      123726 non-null  object
 4   유형      123726 non-null  object
 5   조치일     123726 non-null  object
dtypes: int64(1), object(5)
memory usage: 6.6+ MB